ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px;
  width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(to right, #d7f5f2, white);
  border-radius: 4px;
  position: relative;
}

.text-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons-wrapper {
  display: flex;
}

.list-item.disabled {
  background-color: #f2f2f2;
}

.list-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #007bff;
  border-radius: 4px;
}
.list-item input[type="checkbox"] {
  margin-right: 10px;
}

.list-item input[type="checkbox"]:checked ~ .state,
.list-item input[type="checkbox"]:checked ~ .buttons-wrapper .edit-icon{
  opacity: 0.5;
  pointer-events: none;
}

.edit-icon,
.delete-icon {
  margin-left: 10px;
  cursor: pointer;
  color: blue;
}

.delete-icon {
  color: red;
}
