.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eaf2f5;
}

.input-field {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00b8d4;
}

.task-list{
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}